.skills{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skillsTitle{
    color: rgb(83, 81, 81);
    margin: 20px 0;
    font-size: 40px;
}

.skillsWrapper{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsDomainList{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

